{% extends "bootstrap/base.html" %}

{% block title %}NBA Grid Game{% endblock %}

{% block content %}
{{ nav.my_nav.render() }}
    <div class="container">
        <h1>{{ title }}</h1>
        <!-- Here you can start setting up your grid or other components -->
        <div class="row">
            <div class="col-xs-18 col-sm-9 col-lg-12">
                <!-- Content of your first column -->
            </div>
            <div class="col">
                <!-- Content of your second column -->
            </div>
            <!-- Add more columns as needed -->
        </div>
    </div>

{% endblock %}
